<br><br>

<form center>
  <h2 class="top text-center text-primary">Редактирование личных данных</h2>
  <hr id ="form1">

  <div id ="form1" class="form-group">
    <input type="checkbox" name="option2" value="a2"> Являюсь родителем<Br>
    <p class= "mb-0">Фамилия:</p>
    <input type="name" class="form-control" required name="name" 
     placeholder="Имя" required>
    <p class= "mb-0">Имя:</p>
    <input type="name" class="form-control" required name="name" 
     placeholder="Фамилия" required>
     <p class= "mb-0">Отчество:</p>
    <input type="name" class="form-control" required name="name" 
     placeholder="Фамилия" required>
     <p class= "mb-0">Дата Рождения:</p>
    <input type="datetime-local" class="form-control" required name="name" 
     placeholder="Дата Рождения" required>
     <p class= "mb-0">Пол:</p>
     <select name="select" class="form-control">
      <option selected value="s1">Женский</option>
      <option value="s2">Мужской</option>
    </select>
     <p class= "mb-0">Телефон:</p>
    <input type="name" class="form-control" required name="name" 
     placeholder="Фамилия" required>
     <p class= "mb-0">Email:</p>
    <input type="name" class="form-control" required name="name" 
     placeholder="Фамилия" required>
     <p class= "mb-0">Город:</p>
     <select name="select" class="form-control">
      <option selected value="s1">Пермь</option>
      <option value="s2">Санкт-Петербург</option>
      <option value="s3">Искусство</option>
      <option value="s4">Другое</option>
    </select>
    <p class= "mb-0">О себе:
    <textarea class="form-control" prequired></textarea></p>
    <p class= "mb-0">Фото</p>
    <input type="file" class="form-control" required name="Foto">
    
  </div>

  <div class="form-group text-center">
    <button class="btn btn-warning mr-2" type="submit">Изменить</button>
    <button class="btn btn-warning" type="button">Отмена</button>
  </div>

</form>