<br><br><br><br><br>

<form center>
  <h2 class="top text-center text-primary">Изенение логина и пароля</h2>
  <hr id ="form1">

  <div class="form-group">
    <input id ="form1" type="name" class="form-control" required name="name" 
     placeholder="Логин" required>
  </div>

  <div class="form-group">
    <input id ="form1" type="name" class="form-control" required name="name" 
     placeholder="Старый пароль" required>
  </div>
  <div class="form-group">
    <input id ="form1" type="name" class="form-control" required name="name" 
     placeholder="Новый пароль" required>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-lg btn-warning mr-2" type="submit">Изменить</button>
    <button class="btn btn-lg btn-warning" type="button">Отмена</button>
  </div>

</form>