<div class="container mt-5">
  <div  style="text-align: center">
  <br><br><br>
    <h1 class="text-primary">Сохраняйте все свои достижения!</h1>
    <p class="lead">Это приложение поможет вам хранить и систематизировать все ваши достижения</p>
      <form >
      <h4 class="text-center text-primary">Вы можеже авторизоваться или зарегистрироваться</h4>
      <hr id ="login">
        <input id ="login" size ="5" type="text" class="form-control" required name ="username" placeholder="Логин" required >
        <input  id ="login" size ="5" type="password" class="form-control" required name ="password" placeholder="Пароль" required>
        <button  class="btn btn-warning mr-2" type="submit">Авторизоваться</button>
        <button class="btn btn-warning mr-2">Регистрация</button>
    </form>
  </div>
</div>
