#tt {
    /* position: absolute; 
    left: 550px; */
    margin-left: 200px;
    width: 600px;
    height: 600px;
}

#tt1 {
    /* position: absolute; 
    top: 70px; 
    left: 600px; */
    width: 400px;
    height: 600px;
}
