<br><br>

<form center>
  <h2 class="top text-center text-primary">Формирование портфолио</h2>
  <hr id ="form1">

  <div id ="form1" class="form-group">
    <input id = "fs" type="checkbox" name="option2" value="a2">Опыт работы<Br>
      <p class= "mb-0">Приоритет:</p>
     <select name="select" class="form-control">
      <option selected value="s1">1</option>
      <option value="s2">2</option>
      <option value="s2">3</option>
      <option value="s2">4</option>
      <option value="s2">5</option>
      <option value="s2">6</option>
    </select>
    <input id = "fs" type="checkbox" name="option2" value="a2">Места обучения<Br>
      <p class= "mb-0">Приоритет:</p>
     <select name="select" class="form-control">
      <option selected value="s1">1</option>
      <option value="s2">2</option>
      <option value="s2">3</option>
      <option value="s2">4</option>
      <option value="s2">5</option>
      <option value="s2">6</option>
    </select>
    <input id = "fs" type="checkbox" name="option2" value="a2">Спорт<Br>
      <p class= "mb-0">Приоритет:</p>
     <select name="select" class="form-control">
      <option selected value="s1">1</option>
      <option value="s2">2</option>
      <option value="s2">3</option>
      <option value="s2">4</option>
      <option value="s2">5</option>
      <option value="s2">6</option>
    </select>
    <input id = "fs" type="checkbox" name="option2" value="a2">Волонтерство<Br>
      <p class= "mb-0">Приоритет:</p>
     <select name="select" class="form-control">
      <option selected value="s1">1</option>
      <option value="s2">2</option>
      <option value="s2">3</option>
      <option value="s2">4</option>
      <option value="s2">5</option>
      <option value="s2">6</option>
    </select>
    <input id = "fs" type="checkbox" name="option2" value="a2">Искусство<Br>
      <p class= "mb-0">Приоритет:</p>
     <select name="select" class="form-control">
      <option selected value="s1">1</option>
      <option value="s2">2</option>
      <option value="s2">3</option>
      <option value="s2">4</option>
      <option value="s2">5</option>
      <option value="s2">6</option>
    </select>
    <input id = "fs" type="checkbox" name="option2" value="a2">Другое<Br>
      <p class= "mb-0">Приоритет:</p>
     <select name="select" class="form-control">
      <option selected value="s1">1</option>
      <option value="s2">2</option>
      <option value="s2">3</option>
      <option value="s2">4</option>
      <option value="s2">5</option>
      <option value="s2">6</option>
    </select>
   
     
  </div>

  <div class="form-group text-center">
    <button class="btn btn-warning mr-2" type="submit">Изменить</button>
    <button class="btn btn-warning" type="button">Отмена</button>
  </div>

</form>