
<nav style="background: orange" class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container">
    <img src="assets/images.png" width="40" height="40">
    <a style="color: rgb(5, 172, 172)" class="navbar-brand" [routerLink]="['/Achievments']"> AchievmentsApp </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
      </ul>
    </div>

    <div class="dropdown" dropdown>
      <button class="btn btn-info mr-3" [routerLink]="['/Portfolio']"> Порфтолио </button>
      <button class="btn btn-info mr-3" [routerLink]="['/Info']"> Редактировать профиль </button>
      <button class="btn btn-info "> Выйти </button>
    </div>
  </div>