<br> <br> <br> <br>

<p align="right "><button class="btn btn-info right mr-2" [routerLink]="['/NewPortfolio']">Добавить новое <i class="fa fa-plus"></i></button></p>

  <main role="main">
    <div class=" container marketing">
      <div class="row">
        <div class="container marketing text-center">
          <div class="row">
            <div class="col-lg-14 mr-5">
              <a href ="PortfolioCard"><h1 style="color: rgb(5, 172, 172)" class="text-center mb-0" >Спортивное портфолио</h1> </a>
              <h4 class = "mb-0">Дата создания: <b>12.05.2021</b></h4>
              <button class="btn btn-info mr-2" ><i class="fa fa-edit"></i></button>
              <button class="btn btn-info" ><i class="fa fa-trash"></i></button>
            </div>
            <div class="col-lg-14 mr-5">
              <h1 style="color: rgb(5, 172, 172)" class="text-center mb-0">Общее Портфолио</h1> 
              <h4 class = "mb-0">Дата создания: <b>12.05.2021</b></h4>
              <button class="btn btn-info mr-2" ><i class="fa fa-edit"></i></button>
              <button class="btn btn-info" ><i class="fa fa-trash"></i></button>
            </div>
            <div class="col-lg-14">
              <h1 style="color: rgb(5, 172, 172)" class="text-center mb-0">Волонтерское Портфолио</h1> 
              <h4 class = "mb-0">Дата создания: <b>12.05.2021</b></h4>
              <button class="btn btn-info mr-2" ><i class="fa fa-edit"></i></button>
              <button class="btn btn-info" ><i class="fa fa-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
