<br><br><br><br>

<div class="row">
  <div class="col-3 ml-5">
    <div class="card">
      <img src ="assets/ava.jpg" alt ="Кузнецова Екатерина Александровна" class = "card-img-top img-thumbnail">
      <div class="card-body">
        <div>
          <strong>Кузнецова Екатерина Александровна</strong>
          <p>22 года, Женщина</p>
        </div>
        <div>
          <strong>Проживание:</strong>
          <p>Санкт-Петербург, Россия</p>
        </div>
        <div>
          <strong>Контакты для связи:</strong>
          <p>89194972236 <br>
            duveshka@mail.ru
          </p>
        </div>
      </div>
    </div>
  </div>




  <div class="col-3">
    <div class="card">
      <h2 align = "center">Опыт работы:</h2>
      <div class="card-body">
        <button class="btn btn-info" >Приложения</button>  
        <div>
          <strong>Программист-стажер в комапнии Arcadia</strong>
          <p>01.02.2020 - 02.04.2020 <br> Программирование ASP.NET Core + Angular TS</p>
        </div>
        <div>
          <strong>Тестировщик-стажер в компании DigitalInit</strong>
          <p>01.06.2020 - 01.08.2020 <br> Напсиание unit-тестов</p>
        </div>
      </div>
    </div>
  </div>




  <div class="col-3" id="tt1">
    <div class="card">
      <i><h2 align = "center">Волонтерство:</h2></i>
      <div class="card-body">
        <button class="btn btn-info" >Приложения</button>  
        <div>
          <strong>Программист-стажер в комапнии Arcadia</strong>
          <p>01.02.2020 - 02.04.2020 <br> Программирование ASP.NET Core + Angular TS</p>
        </div>
        <div>
          <strong>Тестировщик-стажер в компании DigitalInit</strong>
          <p>01.06.2020 - 01.08.2020 <br> Напсиание unit-тестов</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" id="tt">
    <div class="card">
      <i><h2 align = "center">Обучение:</h2></i>
      <div class="card-body">
        <button class="btn btn-info" >Приложения</button>  
        <div>
          <strong>17 гимназия</strong>
          <p>Выпуск 2017 год<br> Средне общее образование в математической гимназии</p>
        </div>
        <div>
          <strong>Университет ИТМО</strong>
          <p>Выпуск 2021 год<br> Бакалавриат Инфокоммуникационные технологии</p>
        </div>
      </div>
    </div>
  </div>
</div>